body{
    background-color: rgb(2, 28, 61);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "IM Fell DW Pica", serif;    
}

.texto{
    font-size: 1.2rem;
    text-align: start;
    margin-left: 3rem;
    max-width: 600px;
}

.principal{
    width: 125px;
    height: 100px;
    margin-top: 2rem;
}

#Principal{
    font-size: 5rem;
    color: rgb(0, 58, 109);
    margin: 0;
    margin-top: 2.4rem;
}

.amor{
    color: #b30021;
    font-size: 25px;
}

.titulo{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container{
    background-color: white;
    width: calc(100% - 240px);
    max-width: 900px;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.box{
    width: 950px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
}

.container{
    background-color: rgb(255, 246, 234);
    width: 90%;
    max-width: 900px;
    min-height: 100vh;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.side{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 120px;
    overflow: hidden;
    z-index: -1;
}

.side img{
    width: 100%;
    height: 100%;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.container{
    width: calc(100% - 240px);
}

@media (max-width: 768px){
    .side{
        display: none;
    }

    .container{
        width: 100%;
    }
}

.envelopeTela{
    position: fixed;
    inset: 0;
    background-color: rgb(2, 61, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.envelope{
    position: relative;
    width: 320px;
    height: 200px;
    cursor: pointer;
    perspective: 800px;
}

.corpo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b30021;
    border-radius: 6px;
    z-index: 1;
}

.tampa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #d4002a;


    clip-path: polygon(0 0, 50% 60%, 100% 0);

    transform-origin: top;
    transition: transform 1s ease;
    z-index: 2; 
}


.abrir .tampa{
    transform: rotateX(180deg);
}

.clique{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
    color: white;
    font-size: 1.2rem;
    z-index: 3; 
}

.popupOverlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.popupBox{
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    min-width: 300px;
}

.botoes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes button{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: rgb(5, 64, 131);
    color: white;
    font-size: 1rem;
}

.popupBox img{
    width: 250px;
    border-radius: 10px;
}

#mensagemNao{
    margin-top: 15px;
    color: rgb(180, 0, 0);
    font-weight: bold;
}

.popupBox{
    position: relative;
}

.fechar{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.fechar:hover{
    color: red;
    transform: scale(1.2);
}

.valentine{
    font-size: 2.5rem;
}

#valen{
    color: #b30021;
}

.popup {
    position: relative;
    background: pink;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}