body{
    background-color: rgb(5, 64, 131);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;    
}

#Principal{
    font-size: 4.2rem;
    color: aliceblue;
}

.box{
    width: 450px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
}